{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Search A Meal | About</title>
    <link rel="stylesheet" href= "{% static 'recipes/style.css' %}">
</head>
<body>
    <div class="banner">
        <div class = "navbar">
            <div class="title">
                <p><b>Search a Meal | About</b></p>
            </div>
            <url>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes/about">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="/recipes/account/">Account</a></li>
                <li><a href="/recipes/logout">Logout</a></li>
                {% else %}
                <li><a href="/recipes/login">Login</a></li>
                {% endif %}
            </url>
        </div>
        <hr>
    </div>

    <div class = "Account Info">
        <h1>  Who Are We?</h1>
    </div>
    
        <div class = "InfoBox">
            <div class = "InfoContent">
                <p>
                    We are JKGJ(<b>J</b>ust <b>K</b>idding <b>G</b>ood <b>J</b>ob), a small group of 
                    three college students working who created this website for a project in our 
                    Software Engineering II course. We use to have four people, which is how we
                    came up with the group name JKGJ, which was made up of our first initals:
                </p>
                <p>
                    <b>J</b>onathan Schall || <b>K</b>irk Caponpon || <b>G</b>abe Gonzales || <b>J</b>erome Marudo
                </p>
                <p>
                    Unfortunately one of our members, Kirk, dropped out. He was the one who inspired 
                    and started the idea of making this website. He will be missed, but we hope we
                    made him proud with how much work and how far we got in making his idea a reality.
                </p>
            
            </div>
    </div>

    <div class = "Account Info">
        <h1> Our Project: Search a Meal</h1>
    </div>
    
        <div class = "InfoBox">
            <div class = "InfoContent">
                <p>
                    Our project, Search a Meal, is a search engine for recipes. Users can simply search
                    for recipes within our database using the search bar under <a href="MainMenu.html" target="_self">Home</a>.
                    Users can create an account to store/save all the recipes they have come across. They
                    can go back and view all their save/bookmarked recipes under the <a href="UserPage.html" target="_self">Account</a>
                    tab. If the user does not have an account, they can register for an account under the <a href="'#">Login</a> tab.
                </p>
            
            </div>
    </div>
    
</body> 

</html>