{% load static %}
<!DOCTYPE html>
<html>
 <head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'recipes/images/search.png' %}">
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
 </head>
 <body>
      <div class = "Bg">
         <div class="titlebox">
            <a href="../" class="title">Search A Meal</a>
         </div>
         
         <div class ="Box">
            <div class ="center"><h2>Welcome Back!</h2></div>
            <form method="POST">
               {% csrf_token %}
            <div class = "search-bar">
               <input type = "username" required placeholder = "Username">
            </div>
            <div class = "search-bar">
               <input type = "password" required placeholder ="Password">
            </div>
            <input type = "submit" value = "Login">
            </form>
            <div class = "loginOrRegister">
               Not a member? <a href="../register">Register Here</a>
         </div>
      </div>

</html>