{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Search A Meal</title>
    <link rel="stylesheet" href= "{% static 'recipes/style.css' %}">
    <link rel="shortcut icon" href="{% static 'recipes/images/search.png' %}">
</head>
<body>
    <div class="banner">
        <div class = "navbar">
            <div class = "webname">
                <hl>Search A Meal</hl>
                <form action="" class="search-bar" method="get">
                    <input type="text" placeholder="Search a Recipe..." name="q">
                    <button type="submit"><img src="{% static 'recipes/images/search.png' %}"></button>
                </form>
            </div>


            <url>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Account</a></li>
                <li><a href="login">Login</a></li>
            </url>
        </div>
        <div class="recipelist">
            {% for recipe in recipes %}
            <a href=""><div class="recipeitem">
                <h3>{{ recipe.name }}</h3>
                <p>{{ recipe.description }}</p>
            </div></a>
            {% endfor %}
        </div>
        
    </div>
</body> 

</html>