{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Search A Meal</title>
    <link rel="stylesheet" href= "{% static 'recipes/style.css' %}">
    <link rel="shortcut icon" href="{% static 'recipes/images/search.png' %}">
</head>
<body>
    <div class="banner">
        <div class = "navbar">

            <div class = "searching">
                <form action="" class="search-bar" method="get">
                    <input class = "search-bar" type="text" placeholder="Search a Recipe..." name="q">
                    <button type="submit"><img src="{% static 'recipes/images/search.png' %}"></button>
                </form>
            </div>

            <div class="title">
                <p><b>Search a Meal</b></p>
            </div>

            <url>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes/about">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="/recipes/account/">Account</a></li>
                <li><a href="/recipes/logout">Logout</a></li>
                {% else %}
                <li><a href="/recipes/login">Login</a></li>
                {% endif %}
            </url>
        </div>
        <hr>
    </div>
    <div class = "fill">
        
    </div>
    
    <div class="recipelist">
        {% for recipe in recipes %}
        <a href="{% url 'Recipe_Item' recipe.name %}"><div class="recipeitem">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.description }}</p>
        </div></a>
        <img src = "{{ recipe.img_url }}" class = "DisplayImage">
        {% endfor %}
    </div>
</body> 

</html>