{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Register Page</title>
   <meta charset="UTF-8">
   <link rel="shortcut icon" href="{% static 'recipes/images/search.png' %}">
   <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
</head>
<body>
     <div class = "Bg">
      <div class="titlebox">
         <a href="../" class="title">Search A Meal</a>
      </div>
        <div class ="Box">
           <div class ="center"><h2>Welcome!</h2></div>
           <form method="POST">
            {% csrf_token %}

            
            
            
            <div class = "search-bar">
               {{ form.email }}
              <!--<input id = "email" type = "Email" required placeholder = "Enter Your Email">-->
            </div>
            <!--<div class = "search-bar">
               {{ form.displayname }}
            <input id = "displayname" type = "Display Name" required placeholder = "Enter a Display Name">
            </div>-->
            <div class = "search-bar">
               {{ form.password }}
              <!--<input id = "password" type = "password" required placeholder = "Enter a Password">-->
            </div>
               <input type = "submit" value = "Register">
            </form>
           <div class = "loginOrRegister">
              Already have an account? <a href="../login">Login Here</a>
           </div>
         </div>
      </div>
</html>