{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Search A Meal | Account Page</title>
    <link rel="stylesheet" href= "{% static 'recipes/style.css' %}">
</head>
<body>
    <div class="banner">
        <div class = "navbar">
            <div class="title">
                <p><b>Search a Meal | Account</b></p>
            </div>
            <url>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes/about">About</a></li>
                <li><a href="/recipes/logout">Logout</a></li>
            </url>
        </div>
        <hr>
    </div>
    <div class = "Account Info">
        <h1> {{ user.get_username }} </h1>
    </div>

    <div class = "InfoBox">
        <div class = "InfoContent">
            <h2> Bookmarked Recipes</h2>
            
            <p>- Example</p>
            <p>- Example</p>
            <p>- Example</p>
            
        </div>

            
    </div>
</body> 

</html>